
{% extends "base.html" %}

{% block title %}天天向上 {% endblock %}

{% block pagename %} <h2>Schedule-修改</h2> {% endblock %} 
{% block content %} 

<div class="container", align="center">
	<form method="POST" class="form-horizontal" role="form">
		<div class="form-group form-group-lg col-md-offset-3">
			<label for="inputEmail3" class="col-sm-2 control-label">日期</label>
			<div class="col-sm-6">
				<input type="date" name="time1" class="form-control" value="{{ p.time1}}" onfocus='if(value =="{{p.time1}}"){value =""}' onblur='if (value ==""){value="{{p.time1}}"}'/>
		    </div>
		</div>
		<div class="form-group form-group-lg col-md-offset-3">
			<label for="inputPassword3" class="col-sm-2 control-label">时间</label>
			<div class="col-sm-6">
				<input type="time" name="time2" class="form-control" value="{{ p.time2 }}" onfocus='if(value =="{{p.time2}}"){value =""}' onblur='if (value ==""){value="{{p.time2}}"}'/>
			</div>
		</div>
		<div class="form-group form-group-lg col-md-offset-3">
			<label for="inputPassword3" class="col-sm-2 control-label">事件</label>
			<div class="col-sm-6">
				<input type="text" name="do" class="form-control" value="{{ p.do }}" onfocus='if(value =="{{p.do}}"){value =""}' onblur='if (value ==""){value="{{p.do}}"}'/>
			</div>
		</div>
		<div class="form-group form-group-lg col-md-offset-3">
			<label for="inputPassword3" class="col-sm-2 control-label">地点</label>
			<div class="col-sm-6">
				<input type="text" name="adress" class="form-control" value="{{ p.adress }}" onfocus='if(value =="{{p.adress}}"){value =""}' onblur='if (value ==""){value="{{p.adress}}"}'/>
			</div>
		</div>
		<div class="form-group form-group-lg col-md-offset-3">
			<label for="inputPassword3" class="col-sm-2 control-label">人员</label>
			<div class="col-sm-6">
				<input type="text" name="people" class="form-control" value="{{ p.people }}" onfocus='if(value =="{{ p.people}}"){value =""}' onblur='if (value ==""){value="{{ p.people}}"}'/>
			</div>
		</div>
		<div class="form-group form-group-lg">
          <div class="col-sm-offset-2 col-sm-6">
           <button type="submit" class="btn btn-primary">确认</button>
          </div>
        </div>                      
</form>
</div>
<!--
<form method="POST" onsubmit="alert('修改成功')"> {% csrf_token %}
   <input name="id" type="hidden" value="{{ p.id }}">
   <table>
				<tr>
					<th>项目</th><th>填写信息</th>
				</tr>
				<tr>
					<td>日期</td><td><input name="time1" type="text" value="{{ p.time1}}" onfocus='if(value =="{{p.time1}}"){value =""}' onblur='if (value ==""){value="{{p.time1}}"}'><input name="" type="button" onclick="MyCalendar.SetDate(this,document.getElementById('time1'))" value="选择" /></td>
				</tr>
				<tr>
					<td>时间</td><td><input name="time2" type="time" value="{{ p.time2 }}" onfocus='if(value =="{{p.time2}}"){value =""}' onblur='if (value ==""){value="{{p.time2}}"}'></td>
				</tr>
				<tr>
					<td>事件</td><td><input name="do" type="text" value="{{ p.do }}" onfocus='if(value =="{{p.do}}"){value =""}' onblur='if (value ==""){value="{{p.do}}"}'></td>
				</tr>
				<tr class="alt">
					<td>地点</td><td><input name="adress" type="text" value="{{ p.adress }}" onfocus='if(value =="{{p.adress}}"){value =""}' onblur='if (value ==""){value="{{p.adress}}"}'></td>
				</tr>
				<tr>
					<td>人员</td><td><input name="people" type="text" value="{{ p.people }}" onfocus='if(value =="{{ p.people}}"){value =""}' onblur='if (value ==""){value="{{ p.people}}"}'></td>
				</tr>
					<td colspan = 2 align="center"><input type="submit" value="保存" class="button"><input type="reset" value="重填" class="button"></td>
				</tr>
			</table>
</form>
</table> --->
{% endblock %}
